@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    font-family: sans-serif;
    height: 100vh;
    background-color: #e6e3e3;
  }

  a {
    text-decoration: none;
  }
}

@layer utilities {
  .setup-card {
    @apply bg-gray-800 flex flex-col items-center justify-center w-96 shadow-xl rounded-md p-[1.5rem] mx-auto;
  }

  .quiz-setup-div {
    @apply flex flex-col gap-2  self-start justify-self-start mt-6;
  }

  .select-option {
    @apply py-3 rounded-md focus:outline-0;
  }
}
